// typography
.font-montagu {
  font-family: $font-montagu;
}

.font-poppins {
  font-family: $font-poppins;
}

.font-nato-serif {
  font-family: $font-nato-serif;
}

.font-size-12 {
  font-size: 12;
}

.font-size-14 {
  font-size: 14;
}

.font-size-16 {
  font-size: 16;
}

.font-size-18 {
  font-size: 18;
}

.font-size-20 {
  font-size: 20;
}

.font-size-22 {
  font-size: 22;
}

.font-size-24 {
  font-size: 24;
}
