// Variables
$font-montagu: "Montagu Slab", cursive;
$font-poppins: "Poppins", cursive;
$font-nato-serif: "Nato Serif", cursive;
$color-primary: #920145;
$color-secondary: #dd0067;
$color-yellow: #ffd000;
